/* Your styles here */
/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300;400&display=swap');
body{
    margin: 0;
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}
h1,h3{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
h3{
    margin: 0.6em auto 1em;
}
h2{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 700;
    color: white;
    font-size: 2.3em;
    margin-bottom: 1em;
}
.container{
    background-color: white;
    width: 100%;
    max-width: 500px;
    min-width: 450px;
    height: auto;
    margin: 0;
    text-align: center;
}
/* HEADER */
header div:first-of-type{
    background-color: black;
    padding: 1em;
    padding-bottom: 1.5em;
}
h1{
    font-size: 2.5em;
    line-height: 1;
}
.banner{
    background-image: url(../images/banner.jpg);
    padding: 2.8em;
    background-size: 149%;
    background-position-x: 53%;
    background-position-y: 28%;
}
header img{
    width: 180px;
}
.banner p{
    padding: 1.2em;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #f04c2f;
    color: white;
    padding: 1em 2.2em;
    border-style: none;
    border-color: #f04c2f;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
/* MAIN */
main{
    padding: 3em;
    padding-top: 1.6em;
}
.img-container{
    border-radius: 50%;
    overflow: hidden;
    margin: 5%;
}
.img-container img{
    width: 100%;
    border-radius: 50%;
}
/* SECTION */
section{
    background-color: #e22d0e;
    color: white;
    padding: 2.5em 0;
}
#ceo{
    font-size: 1.3em;
}
section h2+p{
    font-style: italic;
    margin-bottom: 1.3em;
}

/* ASIDE */
aside{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 4em;
}
.aside{
    width: 420px;
    height: 420px;
    border: 1px solid #dee1e3;
    margin: 2em auto;
}
.photo-container{
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.photo-container img{
    width: 100%;
}
/* FOOTER */
footer{
    background-color: #25a2c3;
    color: white;
    padding: 2.5em 0;
}
footer a{
    color: #c8e7f0;
}
footer p{
    color: #c8e7f0;
}
i{
    color: white;
}
#address{
    text-decoration: none;
}
address{
    display: inline;
}
hr{
    border-style: solid;
    width: 50%;
}